.clock{
    display: flex;
    padding:2em;
    background: #61dafb;
    opacity: .7;
    flex-wrap: wrap;
    font-size:16px;
}

.time{
    color:cornflowerblue; text-align: right;
}
.listTime,.editTime {
    font-size: 12px;
    color:darkblue;
    text-align: right;
}
.add{
    width:100%;text-align: left;
}
button{cursor: pointer; outline: none; margin:0 1em;}
input {
    border:1px solid #282c34;min-width:10em;padding:4px; margin-right: 1em;
}
ul{
    border-radius: 4px;
    background:#282c34;
    opacity: .7;
}
li {
    padding : 4px;border-bottom:1px solid #fff;list-style: none;
}
li:last-child{border-bottom: none;}

.edit , .delete{
    margin :8px;
    font-size:13px;
    cursor: pointer;
    display: inline-block;
    padding:2px;border-radius: 2px;
}
.edit:hover,.delete:hover{
    color: red;background: yellow;
}